.form-inner input {
  height: 30px;
  width: 100%;
  font-size: 18px;
}
/* form button {
  height: 40px;
  width: 25%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
} */
form button:hover {
  transform: scale(0.97);
}
label {
  margin-right: 5px;
  margin: 0 auto;
  width: 75px;
}
.form-out form {
  text-align: center;
}
.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.form-group {
  width: 250px;
}
.recipe-div {
  position: relative;
}
.recipe-div button {
  position: absolute;
  bottom: 10px;
  transform: translateX(-30%);
}
